<p>
    The idea of the mission is very easy. You need to determine whether the given integer is a palindrome or not in base B.
    A number is a palindrome if it reads the same in both directions, for example 121 is a palindrome, and 122 is not.
    If the integer is a palindrome in base B, return True, if not, return False.
</p>

<p>
    <strong>Input: </strong> Given {% if is_js %}Number{% else %}Int{% endif %} and base B({% if is_js %}Number{% else %}Int{% endif %}).
</p>

<p>
    <strong>Output: </strong> Bool.
</p>



<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Precondition:</strong>
    <li>number >= 0;</li>
    <li>number is integer;</li>
    <li>B > 0;</li>
    <li>B is integer.</li>
</p>
